---
import BaseHead from '../components/layout/BaseHead.astro'
import Header from '../components/Header.svelte'
import Footer from '../components/Footer.svelte'
import LoadingBar from '../components/LoadingBar.svelte'

interface Props {
    title: string
    description: string
    ogImage?: URL
    slug?: string
}

const { title, description, ogImage, slug } = Astro.props

const defaultOgImage = new URL(
    'https://res.cloudinary.com/dltdrlzdg/image/upload/v1720021067/ShMk1Iw_vrsqmi.webp',
)
const defaultSlug = ''
---

<script is:inline>
    // We need this script here to avoid flashing the light theme before the dark theme is applied
    const theme = localStorage.getItem('theme')
    if (theme === 'dark') {
        document.documentElement.classList.add('dark')
    } else {
        document.documentElement.classList.remove('dark')
    }

    window.addEventListener('popstate', () => {
        document.getElementById('loading').classList.remove('hidden')
    })

    document.addEventListener('click', function (event) {
        let targetElement = event.target

        // Traverse up the DOM tree to see if any ancestor is an <a> tag
        while (targetElement && targetElement.tagName !== 'A') {
            targetElement = targetElement.parentElement
        }

        if (targetElement && targetElement.tagName === 'A') {
            document.getElementById('loading').classList.remove('hidden')
        }
    })
</script>

<html lang="en" class="h-full">
    <BaseHead
        ogImage={ogImage || defaultOgImage}
        title={title}
        description={description}
        slug={slug || defaultSlug}
    />
    <Header client:only />
    <body class="bg-white dark:bg-black dark:text-white min-h-screen">
        <div id="loading" class="hidden">
            <LoadingBar client:only />
        </div>
        <slot />
    </body><Footer client:only />
</html>

<style is:global>
    @font-face {
        font-family: 'avenir_black';
        src:
            url('/fonts/avenirltstd-black-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-black-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'avenir_black';
        src:
            url('/fonts/avenirltstd-black-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-black-webfont.woff') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Avenir';
        src:
            url('/fonts/avenirltstd-light-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-light-webfont.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Avenir';
        src:
            url('/fonts/avenirltstd-book-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-book-webfont.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Avenir';
        src:
            url('/fonts/avenirltstd-medium-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-medium-webfont.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Avenir';
        src:
            url('/fonts/avenirltstd-heavy-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-heavy-webfont.woff') format('woff');
        font-weight: 600 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Avenir';
        src:
            url('/fonts/avenirltstd-black-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-black-webfont.woff') format('woff');
        font-weight: 800 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'avenir_book';
        src:
            url('/fonts/avenirltstd-book-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-book-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'avenir_heavy';
        src:
            url('/fonts/avenirltstd-heavy-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-heavy-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'avenir_medium';
        src:
            url('/fonts/avenirltstd-medium-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-medium-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'avenir_lt_std55_roman';
        src:
            url('/fonts/avenirltstd-roman-webfont.woff2') format('woff2'),
            url('/fonts/avenirltstd-roman-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    h1,
    h2,
    h3 {
        font-family: 'avenir_black';
    }

    p,
    a,
    ul,
    li,
    span,
    button,
    input {
        font-family: 'avenir_book';
    }

    strong,
    strong > * {
        font-family: 'avenir_black';
    }

    p,
    ul,
    li {
        font-size: 1.2rem;
    }

    pre,
    code {
        overflow-x: auto;
    }

    html {
        scroll-behavior: smooth;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }

    @media (max-width: 1024px) {
        p,
        ul,
        li {
            font-size: 1.1rem;
        }
    }
</style>
